- var seminar_num = "3ο"
- var seminar_topic = "Η Ερωτική Αυτοκτονία"
- var dates = "Αθήνα, Σεπτέμβριος - Δεκέμβριος 2018"
- var dates_from = "26 Σεπτεμβρίου 2018"
- var dates_to = "27 Δεκεμβρίου 2018"
- var proclamation_link_a = "https://drive.google.com/file/d/1fApizgNtzGL1XFf1Cls-SrNrDKTxQMQl/view?fbclid=IwAR13BZKGflO0MeYmMh-_FqqoY-Y_p76hQhTEAgLkwTFQCFrI_cUlzXBXVIo"
- var proclamation_link_b = "https://drive.google.com/file/d/1mFo2FUm-tAaHkPHKR_KmBZP6O5mnCgU6/view?fbclid=IwAR31s7BYhg9eXnzgRr27bH89FTUs-ooZHYm3rdSitjDIhz3k9CZMAnjSLqc"
- var students = [{ name: "Μαρία Αυγέρη", play: "Auroram videre potest? (Θα ξαναδούμε την ανατολή;)", link: "text/auroram-videre-potest.pdf" }, { name: "Βανέσσα Βαΐτση", play: "Γιασεμί", link: "text/yasemi.pdf"}, { name: "Ιωάννα Θεοδοσιάδου", play: "Tο δέρμα μου στις πληγές σου", link: "text/to-derma-stis-pliges-mou.pdf"}, { name: "Κατερίνα Καζολέα", play: "Fur Wen? (Για ποιον;)", link: "text/fur-wen.pdf"}, { name: "Δομήνικος Κοντολέων", play: "Doomed", link: "text/doomed.pdf"}, { name: "Μάνος Κουνουγάκης", play: "Manster", link: "text/manster.pdf"}, { name: "Ανθή Τσιρούκη", play: "Egg Hotel", link: "text/egg-hotel.pdf" }]
- var footer = "ΕΡΓΑΣΤΗΡΙΟ ΠΥΡΟΔΟΤΗΣΗΣ ΘΕΑΤΡΙΚΗΣ ΓΡΑΦΗΣ 2018"