- var header_image = "img/the-resurrection.jpg"
- var introduction_doc = "docs/Μια Εισαγωγή για το 5ο Εργαστήριο Πυροδότησης.doc"
- var seminar_num         = "5ο"
- var seminar_topic       = "Η ανάσταση"
- var dates               = "Αθήνα, Μάϊος - Σεπτέμβριος 2019"
- var dates_from          = "15 Μαϊου 2019"
- var dates_to            = "18 Σεπτεμβρίου 2019"
- var proclamation_link_a = "https://drive.google.com/file/d/1hQi43-AjZnXZq7DGLKAdIyb07DJGAeJJ/view?fbclid=IwAR1CNvTJo2Rks1p6SPY4eNjfiaGLy5zmJ_s4EQh4hGar8eKISh4p2MP-AkA"
- var proclamation_link_b = "https://drive.google.com/file/d/1CCLda1JyYtgXM9ImngXGFKX4K_M5bGSp/view?fbclid=IwAR16RdMWNmAQcEDGYKBTOyUO0T7VYegw_jCe7x7hD1RDO3ZGz467TMR2LXk"
-
    var students = [
        { 
            name: "Δέσποινα Αποστολίδου", 
            play: "Μετάνοια", 
            link: "text/metanoia.pdf" 
        }, 
        { 
            name: "Δημήτρης Ασνάης", 
            play: "Δελφινάκι", 
            link: "text/delfinaki.pdf" 
        }, 
        { 
            name: "Μαρία Αυγέρη", 
            play: "Uncanny", 
            link: "text/uncanny.pdf" 
        }, 
        { 
            name: "Βανέσσα Βαΐτση", 
            play: "Ηλιοστάσιο", 
            link: "text/hliostasio.pdf" 
        }, 
        { 
            name: "Κατερίνα Καζολέα", 
            play: "Ο εξολκέας", 
            link: "text/extractor.pdf" 
        }, 
        { 
            name: "Δομήνικος Κοντολέων", 
            play: "Cave Canem", 
            link: "text/cave-canem.pdf" 
        }, 
        { 
            name: "Μάνος Κουνουγάκης", 
            play: "Άνθη, λίγα άνθη για τους πεθαμένους", 
            link: "text/anthi.pdf" 
        }, 
        { 
            name: "Κατερίνα Λουκίδου", 
            play: "Η καρδιά της κατσαρίδας", 
            link: "text/semprevida.pdf" 
        }, 
        { 
            name: "Βαγγέλης Παπαδιόχος", 
            play: "All summer long", 
            link: "text/all-summer-long.pdf" 
        }, 
        { 
            name: "Άννα-Μαρία Πισκοπάνη", 
            play: "Χτυπητό Αυγό", 
            link: "text/xtipito-avgo.pdf" 
        }, 
        { 
            name: "Κατερίνα Σταθοπούλου", 
            play: "Harmony ή η εξέγερση των κεφαλιών", 
            link: "text/harmony.pdf" 
        }, 
        { 
            name: "Αντιγόνη Σταυροπούλου", 
            play: "Κοράκια", 
            link: "text/korakia.pdf" 
        }, 
        { 
            name: "Ανθή Τσιρούκη", 
            play: "Prompt", 
            link: "text/prompt.pdf" 
        }, 
        { 
            name: "Γιάννης Φαρσάρης", 
            play: "Ευτυχισμένο κοιμάμενο νερό", 
            link: "text/nero.pdf" 
        }, 
        { 
            name: "Δημήτρης Φούτσιας", 
            play: "Η κόρη του θεραπευτή", 
            link: "text/kori.pdf" 
        }, 
    ]
- var footer = "ΕΡΓΑΣΤΗΡΙΟ ΠΥΡΟΔΟΤΗΣΗΣ ΘΕΑΤΡΙΚΗΣ ΓΡΑΦΗΣ 2019"