- var seminar_num         = "4ο"
- var seminar_topic       = "Εγκλεισμός/Εγκλωβισμός"
- var dates               = "Αθήνα, Ιανουάριος - Απρίλιος 2019"
- var dates_from          = "23 Ιανουαρίου 2019"
- var dates_to            = "17 Απριλίου 2019"
- var proclamation_link_a = "https://drive.google.com/file/d/1NgcIcsfWcpa78DTdy5cocoyDzI5Rjs2J/view?usp=sharing"
- var proclamation_link_b = "https://drive.google.com/file/d/1LW4nqMyy1xu8wtR9oBWAaomY5y1fFSTR/view"
-
    var students = [
        { 
            name: "Μαρία Αυγέρη", 
            play: "Η τέφρα της, τέφρα του", 
            link: "text/tefra.pdf" 
        }, 
        { 
            name: "Γιάννης Βερβενιώτης", 
            play: "κρεατόπιτα", 
            link: "text/kreatopita.pdf"
        },
        { 
            name: "Κατερίνα Καζολέα", 
            play: "Branwell", 
            link: "text/branwell.pdf"
        },
        { 
            name: "Δομήνικος Κοντολέων", 
            play: "Daisy Bell", 
            link: "text/daisy-bell.pdf"
        },
        { 
            name: "Μάνος Κουνουγάκης", 
            play: "Kindergrave", 
            link: "text/kindergrave.pdf"
        },
        { 
            name: "Αντώνης Μαλλίδης", 
            play: "Η Προσευχη του Γιακουμή", 
            link: "text/prosefxi.pdf"
        },
        { 
            name: "Αγάπη Ξιφιλίδου", 
            play: "Οι Κυνηγοί", 
            link: "text/kynigoi.pdf"
        }, 
        { 
            name: "Άννα Μαρία Πισκοπάνη", 
            play: "ΧΙΟΝΙ", 
            link: "text/xioni.pdf"
        },
        { 
            name: "Αντιγόνη Σταυροπούλου", 
            play: "FISHEL ένα αγόρι κούκλα", 
            link: "text/fishel.pdf"
        }, 
        { 
            name: "Ανθή Τσιρούκη", 
            play: "Το παιδικό δωμάτιο", 
            link: "text/to-paidiko-domatio.pdf"
        }, 
        { 
            name: "Δώρα Τσόγια", 
            play: "Pregame", 
            link: "text/pregame.pdf"
        }, 
        { 
            name: "Δημήτρης Φούτσιας", 
            play: "μαδέρα σως", 
            link: "#"
        } 
    ]
- var footer = "ΕΡΓΑΣΤΗΡΙΟ ΠΥΡΟΔΟΤΗΣΗΣ ΘΕΑΤΡΙΚΗΣ ΓΡΑΦΗΣ 2019"
